.nolink{
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-size: 2rem;
    }
    

.bg-body-quartiary{

background-color: rgb(219, 219, 230)

}

.bg-body-primary{

    background-color: rgb(219, 219, 230)
    
    }

.bg-body-secondary{

    background-color: rgb(176, 177, 201)
    
    }
    .bg-body-tertiary{

        background-color: rgb(234, 234, 249)
        
        }
   