.bg-body-quartiary{

background-color: rgb(219, 219, 230)

}

.bg-body-primary{

    background-color: rgb(219, 219, 230)
    
    }

.bg-body-secondary{

    background-color: rgb(255, 255, 255)
    
    }
    .bg-body-tertiary{

        background-color: rgb(234, 234, 249)
        
        }
   